name: Release
on:
  push:
    tags: 0.*
jobs:
  push-tagged:
    name: Push tagged image
    runs-on: ubuntu-24.04
    steps:
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@v5
      - id: setup-rust
        name: Setup Rust
        uses: docker://rust:1.91.1
      - id: setup-qemu
        name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - id: setup-buildx
        name: Setup Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          platforms: linux/amd64,linux/arm64/v8
      - id: login
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - id: build-and-push
        name: Build a docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: tmatsudate/sheave-server:${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64/v8
