name: Testing
on:
  push:
    branches:
      - main
jobs:
  testing:
    name: Testing
    runs-on: ubuntu-24.04
    steps:
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@v5
      - id: setup
        name: Setup Rust
        uses: docker://rust:1.91.1
      - id: test-core
        name: Test the core crate
        run: |
          cargo update
          cargo check -p sheave-core
          cargo test -p sheave-core
      - id: setup-mariadb
        name: Setup the MariaDB server.
        uses: shogo82148/actions-setup-mysql@v1
        with:
          distribution: "mariadb"
          mysql-version: "11.7"
          auto-start: true
          root-password: ${{ secrets.DB_PASSWORD }}
        run: mariadb -u root -e 'CREATE DATABASE sheave'
      - id: test-server
        name: Test the server crate
        run: |
          cargo check -p sheave-server
          cargo test -p sheave-server
        env:
          TMPDIR: ${{ vars.TMPDIR }}
          DATABASE_URL: "mariadb://${{ secrets.DB_HOST }}:3306/${{ secrets.DB_DATABASE }}?user=root&password=${{ secrets.DB_PASSWORD }}"
      - id: test-client
        name: Test the client crate
        run: |
          cargo check -p sheave-client
          cargo test -p sheave-client
